.cui-panel {
  position: relative;
  font-size: 12px;
  color: #333;
}
.cui-panel .cui-panel-title {
  height: 28px;
  line-height: 28px;
  background: url("../images/panel/panel.png") top left repeat-x;
  border: 1px solid #cccccc;
  padding: 0px 10px;
  margin: 0px;
  font-weight: normal;
  position: relative;
  font-size: 12px;
  color: #333;
  -O-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
.cui-panel .cui-panel-trigger-customer {
  display: block;
  width: 15px;
  height: 15px;
  margin: 7.5px 5px 0px 0px;
  float: right;
}
.cui-panel .cui-panel-trigger {
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 7.5px;
  float: right;
  background: url("../images/panel/panel.png") 0px -28px no-repeat;
  cursor: pointer;
}
.cui-panel .cui-panel-trigger.collapse {
  background-position: -15px -28px;
}
.cui-panel .cui-panel-content {
  border: 1px solid #dedede;
  border-top: 0;
  background: #f9fdff;
  overflow: hidden;
  /*  position: relative;
  */
  zoom: 1;
  padding: 0px;
}
.cui-panel .cui-panel-content iframe {
  width: 100%;
  display: block;
}
