
.tabbable .nav-tabs {
  margin: 0px;
  //border: 1px solid #ddd;
  //border-bottom: 0px solid transparent;
  background: #E8E8E8;
  list-style: none;
  font-size: 14px;
  height: 30px;
  *zoom: 1;
}
.tabbable .nav-tabs:before,
.tabbable .nav-tabs:after {
  display: table;
  content: "";
  line-height: 0;
}
.tabbable .nav-tabs:after {
  clear: both;
}
.tabbable .nav-tabs:before,
.tabbable .nav-tabs:after {
  display: table;
  content: "";
}
.tabbable .nav-tabs:after {
  clear: both;
}
.tabbable .nav-tabs li {
  margin-bottom: -1px;
  float: left;
  line-height: 20px;
}
.tabbable .nav-tabs li a {
  border-radius: 0;
  background-color: #E8E8E8;
  padding: 5px 12px;
  line-height: 20px;
  border: 0px solid #ddd;
  color: #666;
  text-decoration: none;
  display: block;
}
.tabbable .nav-tabs li a:hover,
.tabbable .nav-tabs li a:focus {
  border-color: #eee #eee #ddd;
  color: #005580;
}
.tabbable .nav-tabs .active a,
.tabbable .nav-tabs .active a:hover,
.tabbable .nav-tabs .active a:focus {
  background-color: #FFF;
  color: #666;
  cursor: default;
}
.tabbable .tab-content {
  padding: 10px;
  background-color: #FFF;
  //border: solid 1px #ddd;
  //border-top: none;
  overflow: auto;
}
.tabbable .tab-content .tab-pane {
  display: none;
}
.tabbable .tab-content .active {
  display: block;
}