
						    	<tr>
							        <td class="cap-td" style="text-align: right;width:120px">
										<font color="red">*</font>m：
							        </td>
							        <td class="cap-td" style="text-align: left;">
							        	<span cui_input id="rulem" ng-model="selectValidateVo.rule.m" width="100%" validate="ruleData.inclusion.m" emptytext="验证不通过时的提示信息。"></span>
							        </td>
							    </tr>
							    <tr>
							        <td class="cap-td" style="text-align: right;width:120px">
										negate：
							        </td>
							        <td class="cap-td" style="text-align: left;">
							         	<input type="radio" name="ruleNegate"  ng-model="selectValidateVo.rule.negate" value="true"/>是
										<input type="radio" name="ruleNegate"  ng-model="selectValidateVo.rule.negate" value="false"/>否
							        </td>
							    </tr>
							    <tr>
							        <td class="cap-td" style="text-align: right;width:120px">
										caseSensitive：
							        </td>
							        <td class="cap-td" style="text-align: left;">
							         	<input type="radio" name="ruleCaseSensitive"  ng-model="selectValidateVo.rule.caseSensitive" value="true"/>是
										<input type="radio" name="ruleCaseSensitive"  ng-model="selectValidateVo.rule.caseSensitive" value="false"/>否
							        </td>


							    </tr>
							    <tr>
							        <td class="cap-td" style="text-align: right;width:120px">
										allowNull：
							        </td>
							        <td class="cap-td" style="text-align: left;">
							         	<input type="radio" name="ruleAllowNull"  ng-model="selectValidateVo.rule.allowNull" value="true"/>是
										<input type="radio" name="ruleAllowNull"  ng-model="selectValidateVo.rule.allowNull" value="false"/>否
							        </td>
							    </tr>
							    <tr>
							        <td class="cap-td" style="text-align: right;width:120px">
										partialMatch：
							        </td>
							        <td class="cap-td" style="text-align: left;">
							         	<input type="radio" name="rulePartialMatch"  ng-model="selectValidateVo.rule.partialMatch" value="true"/>是
										<input type="radio" name="rulePartialMatch"  ng-model="selectValidateVo.rule.partialMatch" value="false"/>否
							        </td>
							    </tr>
							    <tr>
							        <td class="cap-td" style="text-align: right;width:120px">
										within：
							        </td>
							        <td class="cap-td" style="text-align: left;">
							        	<span cui_input id="ruleWithin" ng-model="selectValidateVo.rule.within" emptytext="匹配数组，输入数组示例['abc','123','xxx','yyy']" width="100%" validate="ruleData.inclusion.within"></span>
							        </td>
							    </tr>
						    