
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
		<font color="red">*</font>m：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="rulem" ng-model="selectValidateVo.rule.m" width="100%" validate="ruleData.custom.m" emptytext="验证不通过时的提示信息。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	<font color="red">*</font>against：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleAgainst" ng-model="selectValidateVo.rule.against" validate="ruleData.custom.against" width="100%" emptytext="自定义验证规则函数。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	args：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleArgs" ng-model="selectValidateVo.rule.args" width="100%" emptytext="自定义验证规则函数的参数。"></span>
    </td>
</tr>

