 <tr>
    <td class="cap-td" style="text-align: right;width:120px">
		<font color="red">*</font>m：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="rulem" ng-model="selectValidateVo.rule.m" width="100%" validate="ruleData.confirmation.m" emptytext="验证不通过时的提示信息。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	<font color="red">*</font>match：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleMatch" ng-model="selectValidateVo.rule.match" width="100%" validate="ruleData.confirmation.match" emptytext="匹配一致性的目标组件的ID。"></span>
    </td>
</tr>
						    