 <tr>
    <td class="cap-td" style="text-align: right;width:120px">
		oi：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<input type="radio" name="ruleOi"  ng-model="selectValidateVo.rule.oi" value="true"/>是
		<input type="radio" name="ruleOi"  ng-model="selectValidateVo.rule.oi" value="false" />否
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	notnm：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleNotnm" ng-model="selectValidateVo.rule.notnm" width="100%" emptytext="不为数字时的提示信息。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	notim：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleNotim" ng-model="selectValidateVo.rule.notim" width="100%" emptytext="不为整数时的提示信息。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	min：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleMin" ng-model="selectValidateVo.rule.min" width="100%" validate="ruleData.numeric.min" emptytext="最小数字。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	minm：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleMinm" ng-model="selectValidateVo.rule.minm" validate="ruleData.numeric.minm" width="100%" emptytext="小于最小数字时的提示信息。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	max：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleMax" ng-model="selectValidateVo.rule.max" width="100%" validate="ruleData.numeric.max" emptytext="最大数字。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	maxm：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleMaxm" ng-model="selectValidateVo.rule.maxm" width="100%" validate="ruleData.numeric.maxm" emptytext="大于最大数字时的提示信息。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	is：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleIs" ng-model="selectValidateVo.rule.is" width="100%" validate="ruleData.numeric.is" emptytext="必须和该数字相等。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	wrongm：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleWrongm" ng-model="selectValidateVo.rule.wrongm" width="100%" validate="ruleData.numeric.wrongm" emptytext="不相等时的提示信息。"></span>
    </td>
</tr>
