<tr>
    <td class="cap-td" style="text-align: right;width:120px">
		<font color="red">*</font>m：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="rulem" ng-model="selectValidateVo.rule.m" width="100%" validate="ruleData.required.m" emptytext="验证不通过时的提示信息。"></span>
    </td>
</tr>
<tr>
    <td class="cap-td" style="text-align: right;width:120px">
    	emptyVal：
    </td>
    <td class="cap-td" style="text-align: left;">
    	<span cui_input id="ruleEmptyVal" ng-model="selectValidateVo.rule.emptyVal" emptytext="输入的值等于数组中的值都算为空,示例['', '0', '1']。" width="100%" validate="ruleData.required.emptyVal"></span>
    </td>
</tr>	    
