.step-curr{
	position:absolute;
	width: 70px;
    height: 80px;
    line-height:50px;
    z-index : 3;
}

.step-curr > .step-circle{
	margin-left: 10px;
    width: 48px;
    height: 48px;
    line-height:50px;
    background-color:#009DD9;
    border-radius: 50%;
    border : 1px solid #fff;
    text-align:center;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    z-index : 3;
}

.step-curr > .step-title{
	margin-top:10px;
    width: 70px;
    height: 20px;
    line-height:20px;
    text-align:center;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #009DD9;
}

.step-done{
	position:absolute;
	width: 70px;
    height: 80px;
    line-height:50px;
    z-index : 3;
}

.step-done > .step-circle{
	margin-left: 20px;
	margin-top: 10px;
    width: 28px;
    height: 28px;
    line-height:30px;
    background-color:#009DD9;
    border : 1px solid #fff;
    border-radius: 50%;
    text-align:center;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    z-index : 3;
}

.step-done > .step-title{
	margin-top:20px;
    width: 70px;
    height: 20px;
    line-height:20px;
    text-align:center;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #009DD9;
}
.step-todo{
	position:absolute;
	width: 70px;
    height: 80px;
    line-height:50px;
    z-index : 3;
}

.step-todo > .step-circle{
	margin-left: 20px;
	margin-top: 10px;
    width: 28px;
    height: 28px;
    line-height:30px;
    background-color:#CCCCCC;
    border-radius: 50%;
    border : 1px solid #fff;
    text-align:center;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.step-todo > .step-title{
	margin-top:20px;
    width: 70px;
    height: 20px;
    line-height:20px;
    text-align:center;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #CCCCCC;
}

.line-done{
	position:absolute;
	top:25px;
    width: 70px;
    height: 3px;
    background-color:#009DD9;
    z-index : 2;
}

.line-todo{
	position:absolute;
	top:25px;
    width: 70px;
    height: 3px;
    background-color:#CCCCCC;
    z-index : 1;
}