body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1698 {
  position:absolute;
  left:46px;
  top:145px;
  width:767px;
  height:153px;
}
#u1698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:153px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1699 {
  position:absolute;
  left:13px;
  top:38px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1701 {
  position:absolute;
  left:46px;
  top:102px;
  width:141px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1702 {
  position:absolute;
  left:0px;
  top:7px;
  width:141px;
  white-space:nowrap;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:46px;
}
#u1703 {
  position:absolute;
  left:380px;
  top:314px;
  width:47px;
  height:46px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:15px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705 {
  position:absolute;
  left:46px;
  top:376px;
  width:772px;
  height:160px;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:28px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:28px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:28px;
}
#u1708 {
  position:absolute;
  left:306px;
  top:0px;
  width:461px;
  height:28px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:6px;
  width:457px;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:80px;
}
#u1710 {
  position:absolute;
  left:0px;
  top:28px;
  width:306px;
  height:80px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:32px;
  width:302px;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:80px;
}
#u1712 {
  position:absolute;
  left:306px;
  top:28px;
  width:461px;
  height:80px;
  text-align:left;
}
#u1713 {
  position:absolute;
  left:2px;
  top:8px;
  width:457px;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u1714 {
  position:absolute;
  left:0px;
  top:108px;
  width:306px;
  height:47px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:16px;
  width:302px;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:47px;
}
#u1716 {
  position:absolute;
  left:306px;
  top:108px;
  width:461px;
  height:47px;
  text-align:left;
}
#u1717 {
  position:absolute;
  left:2px;
  top:16px;
  width:457px;
  word-wrap:break-word;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1718 {
  position:absolute;
  left:437px;
  top:322px;
  width:85px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1719 {
  position:absolute;
  left:0px;
  top:7px;
  width:85px;
  white-space:nowrap;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:35px;
}
#u1720 {
  position:absolute;
  left:46px;
  top:541px;
  width:767px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A95252;
  text-align:left;
}
#u1721 {
  position:absolute;
  left:10px;
  top:10px;
  width:747px;
  word-wrap:break-word;
}
#u1722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:-webkit-linear-gradient(270deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1722 {
  position:absolute;
  left:706px;
  top:15px;
  width:116px;
  height:28px;
  font-size:14px;
  line-height:24px;
}
#u1722_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1722.mouseOver {
}
#u1722_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}

#u1723 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
#u1724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:-webkit-linear-gradient(270deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1724 {
  position:absolute;
  left:594px;
  top:15px;
  width:116px;
  height:28px;
  font-size:14px;
  line-height:24px;
}
#u1724_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1724.mouseOver {
}
#u1724_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1724.mouseDown {
}
#u1725 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1726 {
  position:absolute;
  left:46px;
  top:72px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1727 {
  position:absolute;
  left:0px;
  top:7px;
  width:99px;
  white-space:nowrap;
}
#u1728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1728 {
  position:absolute;
  left:153px;
  top:72px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1729 {
  position:absolute;
  left:0px;
  top:7px;
  width:140px;
  white-space:nowrap;
}

