.mt {
	margin-top: 20px;
}

.button {
	background-clip: padding-box;
	background-color: #DDDDDD;
	border: 1px solid #BBBBBB;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px
		rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	color: #555555;
	cursor: pointer;
	display: inline-block;
	font: bold 13px arial, helvetica, sans-serif;
	margin: 0;
	overflow: visible;
	padding: 4px 12px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	transition: background-color 0.2s ease-out 0s;
	white-space: nowrap;
}

.button:hover {
	background-color: #EEEEEE;
	color: #333333;
}

.button:active {
	background: none repeat scroll 0 0 #E9E9E9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	position: relative;
	text-shadow: none;
	top: 1px;
}

.button.small {
	padding: 4px 12px;
}

.button.large {
	padding: 12px 30px;
	text-transform: uppercase;
}

.button.large:active {
	top: 2px;
}

.button.green,.button.red,.button.blue {
	background-image: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0) );
	color: #FFFFFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.button.green {
	background-color: #57A957;
	border-color: #57A957;
}

.button.green:hover {
	background-color: #62C462;
}

.button.green:active {
	background: none repeat scroll 0 0 #57A957;
}

.button.red {
	background-color: #C43C35;
	border-color: #C43C35;
}

.button.red:hover {
	background-color: #EE5F5B;
}

.button.red:active {
	background: none repeat scroll 0 0 #C43C35;
}

.button.blue {
	background-color: #269CE9;
	border-color: #269CE9;
}

.button.blue:hover {
	background-color: #70B9E8;
}

.button.blue:active {
	background: none repeat scroll 0 0 #269CE9;
}

.button[disabled],.button[disabled]:hover,.button[disabled]:active {
	background: none repeat scroll 0 0 #FAFAFA;
	border-color: #EAEAEA;
	box-shadow: none !important;
	color: #999999;
	cursor: default;
	position: static;
	text-shadow: none !important;
}

.green[disabled],.green[disabled]:hover,.green[disabled]:active {
	background: none repeat scroll 0 0 #57A957;
	border-color: #57A957;
	color: #D2FFD2;
}

.red[disabled],.red[disabled]:hover,.red[disabled]:active {
	background: none repeat scroll 0 0 #C43C35;
	border-color: #C43C35;
	color: #FFD3D3;
}

.blue[disabled],.blue[disabled]:hover,.blue[disabled]:active {
	background: none repeat scroll 0 0 #269CE9;
	border-color: #269CE9;
	color: #93D5FF;
}

.button-group,.button-group li {
	display: inline-block;
}

.button-group {
	background: none repeat scroll 0 0 #F1F1F1;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	border-radius: 7px 7px 7px 7px;
	font-size: 0;
	margin: 0;
	padding: 7px;
}

.button-group li {
	margin-right: -1px;
}

.button-group .button {
	border-radius: 0 0 0 0;
	font-size: 13px;
}

.button-group .button:active {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px
		rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
}

.button-group li:first-child .button {
	border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px
		rgba(0, 0, 0, 0.2) inset;
}

.button-group li:last-child .button {
	border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px
		rgba(0, 0, 0, 0.2) inset;
}

.button_top {
	background-repeat: repeat-x;
	background-position: top;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	cursor: pointer;
	height: 21px;
	text-align: center;
	line-height: 21px;
	background-image: url(../images/button/button_bg.gif);
	border: 1px solid #dedede;
	font-size: 12px;
	font-family: "ו", Arial, Sans;
	vertical-align: top;
	color: #333;
	margin: 0;
	padding: 0;
}

.button_top_ico {
	padding-left: 20px;
	position: relative;
}

.button_top:hover,.button_top.button_hover {
	background-image: url(../images/button/button_visited.gif);
	border: 1px solid #a5c4eb;
	color: #333;
}

.button_top:active,.button_top.button_active {
	background-image: url(../images/button/button_over.gif);
	border: 1px solid #92b6e2;
	color: #333;
}

.button_top_ico img {
	position: absolute;
	left: 2px;
	top: 2px;
}

.button_top[disabled] {
	color: #ACA899;
}

.button_civilize {
	display: inline-block;
	text-align: center;
	color: #191970;
	line-height: 18px;
	border-top: #191970 1px solid;
	border-right: #191970 1px solid;
	border-left: #191970 1px solid;
	border-bottom: #191970 1px solid;
	cursor: pointer;
	font-size: 9pt;
	background: #c6d7ef;
	font-family: Arial, ו;
	text-decoration: none; *
	vertical-align: top;
	_line-height: 15px;
	_padding-top: 3px;
	_height: 15px;
}

.button_civilize_ico {
	padding-left: 20px;
	position: relative;
}

.button_civilize_ico img {
	position: absolute;
	left: 2px;
	top: 1px;
}

.button_civilize:active {
	background: none repeat scroll 0 0 #c6d7ef;
	font-size: 10pt;
	color: #191970;
}

.button_civilize[disabled] {
	color: #ACA899;
}

.dialog-min-btn {
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 6px;
	top: 3px; *
	zoom: 1;
}

.dialog-min-btn span {
	background: url("../images/min.png") no-repeat;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 14px;
	line-height: 0;
	margin: 8px;
	width: 14px;
}

.line-table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-bottom: 0;
}

.line-table  td {
	border-bottom: 1px solid #ccc;
	height: 40px;
	font-size: 12px;
	font-family: "ו", Arial, Sans;
}

.line-table  td.last {
	text-align: right;
}

.line-table  td.left {
	text-align: left;
}

.line-table td.bottom {
	border: none;
}

.line-table  td.empty {
	border: none;
	height: 40px;
}

.line-table td img.cursorimg {
	cursor: pointer;
}

.line-table td img.progress {
	display: inline-block; *
	display: inline; *
	zoom: 1;
	height: 10px;
	width: 170px;
	line-height: 16px;
	margin-left: 25px;
}

.task-list {
	border-left: 1px solid #CBCCC9;
	border-right: 1px solid #CBCCC9;
	border-bottom: 1px solid #CBCCC9;
	background-color: #FFFFFF;
}

.task-list li {
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #CBCCC9;
	padding: 0;
}

.task-list li.header {
	font-weight: bold;
	background-color: #8EBCF8;
}

.task-list li input {
	cursor: pointer;
}

.task-list .task-title {
	display: inline-block; *
	display: inline; *
	zoom: 1;
	width: 220px;
	margin-left: 5px;
}

.task-list .progress {
	display: inline-block; *
	display: inline; *
	zoom: 1;
	height: 10px;
	width: 170px;
	line-height: 16px;
	margin-left: 25px;
}

.task-list .del-icon {
	display: inline-block; *
	display: inline;
	cursor: pointer;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 10px;
}

.task-list .progress-tip {
	color: #666;
}

.task-table .header {
	font-weight: bold;
	background-color: #8EBCF8;
}

.biz-icon {
	display: inline-block; *
	display: inline;
	vertical-align: middle;
}
.selcol-title {
	margin: 15px 0 25px 2px;
	padding-bottom: 8px;
	border-bottom: 1px solid #9CC3E8;
}

.selcol {
	height: 350px;
}

.selcol td {
	text-align: top;
}

.toselect-list,.selected-list {
	display: inline-block; *
	display: inline;
	position: relative;
	border: 1px solid #9CC3E8;
	margin: 0;
	padding: 20px 0;
	width: 180px;
	height: 300px;
	height: 350px\9;
	background-color: #E3F0FC;
	overflow: auto; *
	zoom: 1;
}

.toselect,.selected {
	position: relative;
	z-index: 1;
}

.toselect .toselect-title,.selected .selected-title {
	border: 1px solid #9CC3E8;
	position: absolute;
	top: -12px;
	left: 10px;
	padding: 2px 4px;
	background-color: #D1E5FA;
	z-index: 99999;
	font-size: 12px;
	font-weight: bold;
}

.toselect-list li,.selected-list li {
	list-style-type: none;
	padding: 0 3px; *
	padding: 0px;
	cursor: pointer;
	text-align: left;
	font-size: 12px;
	position: relative;
	line-height: 24px;
	height: 24px;
	border: solid #E3F0FC 1px;
}

.toselect-list li img,.selected-list li img {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 4px;
}

.toselect-list li.curr,.selected-list li.curr {
	border: solid #7a7a7a 1px;
	background: #e4e4e4;
}

.operate {
	height: 150px;
}

.operate img {
	display: block;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}

.select-btn {
	margin: 10px 0;
	text-align: center;
}

.sort-icon img {
	display: block;
	cursor: pointer;
}

#taskMonitorDialogId .dialog-titlebar {
	text-align: left;
}

#taskMonitorDialogId.cui-dialog-container .dialog-close-btn span {
	background: url("../images/min.png") no-repeat;
}

#eic_openTaskMonitorList_openDivId.cui-dialog-container {
	background-color: #408ee6;
	border: 1px solid #408ee6;
	border-radius: 3px;
}

#eic_openTaskMonitorList_openDivId.cui-dialog-container .dialog-title {
	color: #ffffff;
	width: 52%;
	margin-top: 5px;
	height: 15px;
	line-height: 15px;
	text-align: left;
}

#exportDialog.cui-dialog-container .dialog-ft {
	text-align: right;
}

#dyErrorDialogId.cui-dialog-container .dialog-ft {
	text-align: right;
}

.msg-box-icon {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.msgbox-icon-alert {
	background: url(../images/c-icon-1.png) no-repeat 0 -85px;
}

.msgbox-icon-error {
	background: url(../images/c-icon-1.png) no-repeat 0 -180px;
}

.msgbox-icon-success {
	background: url(../images/c-icon-1.png) no-repeat 0 -150px;
}