<table class="commone_attr_table">
        <tr>
                <td style="text-align: right;width: 18%">
                        <font color="red">*</font>idName
                </td>
                <td style="text-align: right;width: 30%">
                        <span width="100%" cui-clickinput ng-model="attriViewVO.pageConfigVO.component.idName" ng-click="openDataStoreSelect(attriViewVO, 'idName')">
        </span>
                </td>
                <td style="text-align: right;width: 22%">
                        <font color="red">*</font>valueName
                </td>
                <td style="text-align: right;width: 30%">
                        <span width="100%" cui-clickinput ng-model="attriViewVO.pageConfigVO.component.valueName" ng-click="openDataStoreSelect(attriViewVO, 'valueName')">
        </span>
                </td>
        </tr>
        <tr>
                <td style="text-align: right;width: 20%">
                        validate
                </td>
                <td style="text-align: right;width: 30%">
                        <span width="100%" cui-clickinput ng-model="attriViewVO.pageConfigVO.component.validate" ng-click="openValidateAreaWindow(attriViewVO)">
        </span>
                </td>
                <td style="text-align: right;width: 20%">
                        opts
                </td>
                <td style="text-align: right;width: 30%">
                        <span width="100%" cui-clickinput ng-model="attriViewVO.pageConfigVO.component.opts" ng-click="openDataStoreSelect(attriViewVO, 'opts')">
        </span>
                </td>
        </tr>
        <tr>
                <td style="text-align: right;width: 20%">
                        chooseMode
                </td>
                <td style="text-align: right;width: 30%">
                        <span cui_pulldown ng-model="attriViewVO.pageConfigVO.component.chooseMode" value_field="id" label_field="text" width="100%">
                                        <a value="0">多选</a>
                                        <a value="1">单选</a>
                           </span>
                </td>
        </tr>
</table>