<table class="commone_attr_table">
        <tr>
                <td style="text-align: right;width: 20%">
                        validata
                </td>
                <td style="text-align: right;width: 30%">
                <span width="100%" cui-clickinput ng-model="attriViewVO.pageConfigVO.component.validate" ng-click="openValidateAreaWindow(attriViewVO)">
                </span>
                </td>
                 <td style="text-align: right;width: 20%">
                </td>
                <td style="text-align: right;width: 30%">
                </td>
        </tr>
</table>