BODY { 
      font-family:宋体; 
      background-color:#ffffff;  }
H1 { 
    font-weight:bold; 
    font-size:24.0pt; 
    font-family:宋体;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-size:24.0pt;  }
H2 { 
    font-weight:bold; 
    font-size:18.0pt; 
    font-family:宋体;  }
LI.kadov-H2 { 
             font-weight:bold; 
             font-size:18.0pt;  }
H3 { 
    font-weight:bold; 
    font-size:14.0pt; 
    font-family:宋体;  }
LI.kadov-H3 { 
             font-weight:bold; 
             font-size:14.0pt;  }
H4 { 
    font-weight:bold; 
    font-size:12.0pt; 
    font-family:宋体;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:12.0pt;  }
H5 { 
    font-weight:bold; 
    font-size:10.0pt; 
    font-family:宋体;  }
LI.kadov-H5 { 
             font-weight:bold; 
             font-size:10.0pt;  }
H6 { 
    font-weight:bold; 
    font-size:9.0pt; 
    font-family:宋体;  }
LI.kadov-H6 { 
             font-weight:bold; 
             font-size:9.0pt;  }
P { 
   font-size:12.0pt; 
   margin-top:1; 
   margin-bottom:1; 
   font-family:宋体;  }
LI.kadov-P { 
            font-size:12.0pt; 
            margin-top:0pt; 
            margin-bottom:0pt;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              text-decoration:none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            text-decoration:none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             text-decoration:none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:宋体;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:宋体;  }
ol ol { 
       margin-top:1; 
       margin-bottom:1;  }
ol ul { 
       margin-top:1; 
       margin-bottom:1;  }
ul ul { 
       margin-top:1; 
       margin-bottom:1;  }
ul ol { 
       margin-top:1; 
       margin-bottom:1;  }
